<p>Minden tagállam: 
    <span *ngFor="let voteKey of getAllVoteTypes()">
        <button 
        type="button" 
        [class]="getButtonClass(voteKey)"
        (click)="setAllVotesTo(voteKey)">
            {{getVoteValueFor(voteKey)}}
        </button>
        <span>&nbsp;</span>
    </span>
</p>
<p>Visegrádi négyek: 
    <span *ngFor="let voteKey of getAllVoteTypes()">
        <button 
        type="button" 
        [class]="getButtonClass(voteKey)"
        (click)="setAllVotesForV4To(voteKey)">
            {{getVoteValueFor(voteKey)}}
        </button>
        <span>&nbsp;</span>
    </span>
</p>
<p>Politikai csoport: <select 
    name="politicalGroups" 
    [(ngModel)]="selectedPoliticalGroupKey">
        <ng-container *ngFor="let politicalGroup of getPoliticalGroups()">
            <option *ngIf="getNumberOfMemberStatesWithLeaderAffiliatedTo(politicalGroup[1]) > 0" 
                [value]="politicalGroup[0]">
                {{politicalGroup[1]}} ({{getNumberOfMemberStatesWithLeaderAffiliatedTo(politicalGroup[1])}})
            </option>
        </ng-container>
    </select> 
    <span>&nbsp;</span>
    <span *ngFor="let voteKey of getAllVoteTypes()">
            <button 
            type="button" 
            [class]="getButtonClass(voteKey)"
            (click)="setAllVotesForPoliticalGroup(voteKey)">
                {{getVoteValueFor(voteKey)}}
            </button>
            <span>&nbsp;</span>
        </span>
</p>