<p>Minden tagállam: 
    <span *ngFor="let voteKey of getAllVoteTypes()">
        <button 
        type="button" 
        [class]="getButtonClass(voteKey)"
        (click)="setAllVotesTo(voteKey)">
            {{getVoteValueFor(voteKey)}}
        </button>
        <span>&nbsp;</span>
    </span>
</p>
<p>Visegrádi négyek: 
    <span *ngFor="let voteKey of getAllVoteTypes()">
        <button 
        type="button" 
        [class]="getButtonClass(voteKey)"
        (click)="setAllVotesForV4To(voteKey)">
            {{getVoteValueFor(voteKey)}}
        </button>
        <span>&nbsp;</span>
    </span>
</p>
<p>Politikai csoport: <select 
    name="politicalGroups" 
    [(ngModel)]="selectedPoliticalGroupKey">
        <option *ngFor="let politicalGroup of getPoliticalGroups()" [value]="politicalGroup[0]">
            {{politicalGroup[1]}}
        </option>
    </select> 
    <span>&nbsp;</span>
    <span *ngFor="let voteKey of getAllVoteTypes()">
            <button 
            type="button" 
            [class]="getButtonClass(voteKey)"
            (click)="setAllVotesForPoliticalGroup(voteKey)">
                {{getVoteValueFor(voteKey)}}
            </button>
            <span>&nbsp;</span>
        </span>
</p>