<table>
    <tr>
        <th>Ország</th>
        <th>Lakosság</th>
        <th colspan="4">Szavazat</th>
        <th>Vezető</th>
        <th>Vezető politikai csoportja</th>
    </tr>
<tr *ngFor="let memberStateVote of votingRecord.votes | keyvalue">
    <td>{{memberStateVote.key.name}}</td>
    <td style="text-align: right">{{memberStateVote.key.population | number}}</td>
    <td *ngFor="let voteValue of voteValues">
            <input type="radio"
                   [(ngModel)]="memberStateVote.value"
                   [checked]="memberStateVote.value==voteValue"
                   [value]="voteValue" 
                   (click)="castVote(memberStateVote.key, voteValue)"/>
                   {{voteValue}}
    </td>
    <td>{{memberStateVote.key.leader.name}} ({{memberStateVote.key.leader.type}})</td>
    <td>{{memberStateVote.key.leader.politicalGroup}}</td>
</tr>
</table>